.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 420px;
  height: 340px;
  padding: 50px;
  content-visibility: auto;

  .is-changing & {
    content-visibility: hidden;
  }

  &--wide {
    width: 870px;
  }

  > a {
    &:focus {
      outline: none;
    }
  }

  .catalog & {
    height: 100px;
    padding: 0;
  }

  @media (min-width: $widthDesktop) {
    width: 570px;

    &--wide {
      width: 1170px;
    }
  }

  @media (min-width: $widthDesktopWide) {
    width: 720px;

    &--wide {
      width: 1470px;
    }
  }
}

.banner__image {
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 420px;

    .catalog & {
      position: static;
    }

    .banner--wide & {
      width: 870px;
    }

    @media (min-width: $widthDesktop) {
      width: 570px;

      .banner--wide & {
        width: 1170px;
      }
    }

    @media (min-width: $widthDesktopWide) {
      width: 720px;

      .banner--wide & {
        width: 1470px;
      }
    }
  }
}

.banner__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 160px;
}

.banner__title {
  margin: 0;
  font-size: $fontTextH1;
  color: $fontColorWhite;
}

.banner__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: $fontLight;
  font-size: $fontTextHuge;
  line-height: $lineHeightNormal;
  color: $fontColorWhite;
  text-transform: uppercase;
}

.banner__link {
  min-width: 200px;
  margin-top: auto;
  padding: 10px;
  line-height: $lineHeightNormal;
  text-align: center;
  color: $fontColorBannerLink;
  text-transform: uppercase;
  background-color: $ColorButtonBanner;

  &:focus {
    outline: none;
  }
}
