.blog-post {
  margin-top: 30px;
  margin-bottom: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.blog-post__top {
  margin-bottom: 30px;
}

.blog-post__main {
  margin-bottom: 30px;
}

.blog-post__info {
  width: 560px;
  margin-bottom: 15px;

  h1 {
    margin-bottom: 5px;
  }

  @media (min-width: $widthDesktop) {
    width: 860px;
  }

  @media (min-width: $widthDesktopWide) {
    width: 1160px;
  }
}

.blog-post__meta {
  display: flex;
  align-items: center;
}

.blog-post__date {
  margin: 0;
  margin-right: 10px;
  font-size: $fontTextSmall;
}

.blog-post__content {
  width: 560px;
  margin-bottom: 30px;

  > h2 {
    font-size: $fontTextLarge;
  }

  > h3 {
    font-size: $fontTextMedium;
  }

  p {
    max-width: none;
  }

  @media (min-width: $widthDesktop) {
    width: 860px;
  }

  @media (min-width: $widthDesktopWide) {
    width: 1160px;
  }
}

.blog-post__image {
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    display: block;
    width: 560px;
  }

  @media (min-width: $widthDesktop) {
    img {
      width: 860px;
    }
  }

  @media (min-width: $widthDesktopWide) {
    img {
      width: 1160px;
    }
  }
}

.blog-post__slider {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: visible;
}

.blog-post__slider-wrapper {
  display: flex;
}
