.blog {
  margin-top: 30px;
  margin-bottom: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.blog__top {
  margin-bottom: 30px;
}

.blog__main {
  margin-bottom: 30px;
}

.blog__list {
  margin-bottom: 30px;
}
