.blog-tags {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-left: -14px;
}

.blog-tags__tag {
  margin-right: 14px;
  margin-bottom: 10px;
  margin-left: 14px;
  font-size: $fontTextSmall;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $ColorButtonOrange;
      outline: none;
    }
  }
}
