.callback__cols {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

.callback__col {
  max-width: 410px;
  margin-right: 20px;

  &:last-child {
    flex-grow: 1;
    margin-right: 0;
  }
}

.callback__cell {
  min-height: 72px;
  margin-bottom: 10px;
}

.callback__text {
  box-sizing: border-box;
  min-height: 72px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: $fontBold;
  font-size: $fontTextLarge;
  line-height: $lineHeightNormal;
}
