.footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--categories {
    width: 270px;
  }

  &--menu {
    width: 170px;
  }

  &--contacts {
    width: 370px;
  }

  @media (min-width: $widthDesktop) {
    &--contacts {
      flex-direction: row;
      justify-content: space-between;
      width: 670px;
    }
  }

  @media (min-width: $widthDesktopWide) {
    &--menu {
      flex-direction: row;
      justify-content: space-between;
      width: 370px;
    }

    &--contacts {
      width: 770px;
    }
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  font-size: $fontTextSmall;
  line-height: $lineHeightTextHuge;
  color: $fontColorMaintext;

  @media (min-width: $widthDesktop) {
    width: 470px;
    margin-top: 0;
  }
}

.footer__link-mobile {
  margin-bottom: 10px;
  line-height: $lineHeightNormal;
  color: inherit;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }

  @media (min-width: $widthDesktop) {
    margin-bottom: 30px;
  }
}

.footer__contacts {
  font-style: normal;

  p {
    margin: 0;
  }

  a {
    display: block;
    color: inherit;

    &:hover,
    &:focus {
      color: $ColorButtonOrange;
      outline: none;
    }
  }
}

.footer__privacy-policy {
  margin-bottom: 10px;
  color: inherit;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }

  @media (min-width: $widthDesktop) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  width: 320px;
  margin: 0;
  line-height: $lineHeightTextRegular;

  @media (min-width: $widthDesktop) {
    width: initial;
    line-height: $lineHeightTextHuge;
  }
}

.footer__credits {
  margin: 0;
  margin-top: 20px;
  font-weight: $fontLight;
  font-size: $fontTextSmall;
  line-height: $lineHeightNormal;

  b {
    display: block;
    font: $fontExtraBold #{$fontTextLarge}/#{$lineHeightNormal} $fontFooter;
  }

  @media (min-width: $widthDesktop) {
    margin-top: 30px;
  }
}
