.logo {
  margin-right: 30px;

  a {
    display: flex;
    align-items: center;
  }

  img {
    display: block;
    width: 39px;
  }

  span {
    margin-left: 10px;
    font: #{$fontTextLogo}/#{$lineHeightNormal} $fontLogo;
    color: $fontColorMaintext;
    text-transform: uppercase;
  }
}
