.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 15;
  display: none;
  width: 270px;
  overflow: hidden;
  background-color: $ColorPrimary;

  &.shown {
    display: block;
    animation: 0.5s both move-right;
  }

  @media (min-width: $widthDesktopWide + 270px * 2 + 30px) {
    display: block;
  }
}

.main-nav__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 90px 40px 30px 77px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $ColorPrimary $ColorPrimary;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 13px;
    background-color: $ColorPrimary;
  }

  &::-webkit-scrollbar-thumb {
    height: 50%;
    background-color: $ColorPrimary;
  }

  &:hover {
    scrollbar-color: $ColorScrollbar $ColorPrimary;

    &::-webkit-scrollbar-thumb {
      height: 50%;
      background-color: $ColorScrollbar;
    }
  }
}

.main-nav__groups {
  width: 100%;
}

.main-nav__group {
  width: 100%;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s;

  &.swiper-slide-active {
    height: auto !important;
    overflow: initial;
    opacity: 1;
  }
}

.main-nav__title {
  margin: 0;
  margin-bottom: 30px;
  line-height: $lineHeightNormal;
}

.main-nav__group-link {
  display: inline-block;
  margin-bottom: 30px;
  line-height: $lineHeightNormal;
  color: $fontColorMaintext;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }
}

.main-nav__button-back {
  position: fixed;
  top: 80px;
  left: 20px;
  width: 38px;
  height: 38px;
  z-index: 2;
  padding: 0;
  background: url("../img/icon-arrow-left.svg") center / 18px no-repeat;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition:
    background-color 0.3s,
    opacity 0.3s;
  cursor: pointer;
  pointer-events: none;
  appearance: none;

  &.shown {
    opacity: 1;
    pointer-events: all;
  }

  &:hover,
  &:focus {
    background-color: $ColorInput;
    outline: none;
  }
}

.main-nav__phone {
  display: inline-block;
  font-size: $fontTextSmall;
  line-height: $lineHeightNormal;
  color: $fontColorMaintext;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }
}
