.menu-profile {
  margin-bottom: 30px;

  &--mobile-nav {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 0;
  }

  &--footer {
    margin-bottom: 0;
  }

  @media (min-width: $widthDesktopWide) {
    &--footer {
      width: 170px;
    }
  }
}

.menu-profile__list {
  @extend %list-reset;

  .menu-profile--mobile-nav & {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.menu-profile__item {
  margin-bottom: 10px;
  line-height: $lineHeightNormal;

  &:last-child {
    margin-bottom: 0;
  }

  .menu-profile--mobile-nav & {
    margin-bottom: 0;
  }
}

.menu-profile__link {
  font-size: $fontTextSmall;
  line-height: $lineHeightNormal;
  color: $fontColorMaintext;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }

  .menu-profile--mobile-nav & {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    background: center / auto 18px no-repeat;
    border-radius: 50%;
    transition: background-color 0.3s;

    &[data-counter]:not([data-counter="0"]) {
      &::before {
        content: attr(data-counter);
        position: absolute;
        top: -12px;
        left: 50%;
        padding: 3px 7px;
        font-weight: $fontBold;
        line-height: $lineHeightNormal;
        color: $fontColorWhite;
        background-color: $ColorRed;
        border-radius: 11px;
        transform: translateX(-50%);
      }
    }

    @each $icon in menu, search, favorites, profile, orders, cart {
      &--#{$icon} {
        background-image: url("../img/icon-#{$icon}.svg");
        background-size: if($icon == menu, 15px, null);
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover,
    &:focus {
      background-color: $ColorInput;
    }
  }
}
