.menu-catalog {
  margin-top: 17px;
  margin-bottom: 20px;
  overflow: visible;

  &--relevant {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.menu-catalog__list {
  @extend %list-reset;
  display: flex;

  .menu-catalog--relevant & {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu-catalog__item {
  width: auto;

  .menu-catalog--relevant & {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-catalog__link {
  display: block;
  box-sizing: border-box;
  max-width: 300px;
  min-height: 36px;
  padding: 11px 19px;
  font-size: $fontTextSmall;
  line-height: $lineHeightNormal;
  color: inherit;
  white-space: nowrap;
  background-color: $ColorInput;

  &:hover,
  &:focus {
    color: $ColorButtonOrange;
    outline: none;
  }
}
