.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($fontColorMaintext, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;

  &.shown {
    overflow-y: scroll;
    opacity: 1;
    pointer-events: auto;
  }

  &.transparent {
    background: none;
    pointer-events: auto;
  }
}

.overlay__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
