.profile {
  width: 270px;
  margin: 60px auto 30px;
}

.profile__form {
  margin-bottom: 30px;
}

.profile__form-fields {
  margin-bottom: 20px;
}

.profile__form-field {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
