.product-card {
  position: relative;
  width: 330px;
  margin-bottom: 30px;
  background-color: $ColorPrimary;
  content-visibility: auto;

  .is-changing & {
    content-visibility: hidden;
  }

  &.aos-animate {
    content-visibility: visible;
  }

  .dashboard-panel--slider & {
    margin-right: 20px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 194px; // 218px - 24px
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    min-width: 45px;
    height: 24px;
    font-weight: $fontSemiBold;
    line-height: $lineHeightNormal;
    text-align: center;
    color: $ColorPrimary;
  }

  &--new {
    &::before {
      content: "new";
      padding: 5px;
      font-size: $fontTextSmall;
      letter-spacing: 0.05em;
      background-color: $ColorProductStatusNew;
    }
  }

  &--sale {
    &::after {
      content: "-" attr(data-discount) "%";
      padding: 4px 2px;
      font-size: $fontTextRegular;
      letter-spacing: 0.1em;
      background-color: $ColorProductStatusSale;
    }

    &.product-card--new {
      &::after {
        left: 45px;
      }
    }
  }

  &:hover,
  &:focus-within {
    z-index: 2;
    content-visibility: visible;

    &::before,
    &::after {
      z-index: 2;
    }
  }
}

.product-card__image {
  position: relative;
}

.product-card__previews {
  z-index: 0;
  width: 100%;
  height: 218px;
  overflow: hidden;
}

.product-card__previews-list {
  display: flex;
}

.product-card__preview {
  flex-shrink: 0;
  width: 330px;

  img {
    display: block;
    width: 330px;
  }
}

.product-card__previews-pagination {
  position: absolute;
  top: initial !important;
  right: 0;
  bottom: 1px !important;
  left: 0;
  z-index: 1;
  display: flex;
  height: 1px !important;
  background-color: transparent;
  pointer-events: none;

  .swiper-pagination-bullet {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background-color: $ColorPrimary !important;
    border-radius: 0;
    opacity: 0;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.product-card__add-favorites {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;

  svg {
    position: absolute;
    bottom: -16px;
    left: -28px;
    width: 92px !important;
    height: auto !important;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-card__id {
  margin: 0;
  margin-bottom: 5px;
  font-size: $fontTextSmall;
  line-height: $lineHeightNormal;
  color: $fontColorProductId;
}

.product-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: $fontSemiBold;
  font-size: $fontTextRegular;
  line-height: $lineHeightTextRegular;
}

.product-card__price {
  display: inline-block;
  margin: 0;
  font-weight: $fontRegular;
  font-size: $fontTextRegular;
  line-height: $lineHeightTextRegular;

  &--sale {
    display: none;
    color: $ColorRed;

    .product-card--sale & {
      display: block;
    }
  }

  .product-card--sale & {
    &:not(.product-card__price--sale) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: $fontColorMaintext;
        pointer-events: none;
      }
    }
  }

  .out-of-stock & {
    display: none;
  }

  > span {
    .total-price & {
      display: none;
    }
  }

  b {
    font-weight: $fontBold;
    font-size: $fontTextH2;
  }

  sup {
    font-weight: $fontRegular;
  }
}

.product-card__not-avaliable {
  display: none;
  margin: 0;
  font-weight: $fontBold;
  font-size: $fontTextLarge;
  line-height: $lineHeightTextMedium;

  .out-of-stock & {
    display: block;
  }
}

.product-card__add {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 10px;
  background-color: $ColorPrimary;
}

.product-card__color-list {
  display: flex;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(10, calc((100% - 27px) / 10));
  gap: 3px;
  margin-bottom: 10px;
}

.product-card__color {
  width: 100%;
  color: transparent;

  img {
    display: block;
    width: 100%;
  }

  &.selected {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $ColorPrimary;
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.product-card__add-cart {
  .in-cart &,
  .out-of-stock & {
    display: none;
  }
}

.product-card__out-of-stock {
  display: none;
  color: $fontColorMaintext;

  .out-of-stock & {
    display: block;
  }
}
