.share {
  position: relative;
  z-index: 2;
}

.share__toggle {
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;
  background: url("../img/icon-share.svg") center / 18px no-repeat;
  border: none;
  cursor: pointer;
  filter: brightness(0) invert(1) brightness(0.59);
  appearance: none;

  .opened &,
  &:hover,
  &:focus {
    outline: none;
    filter: none;
  }
}

.share__list {
  position: absolute;
  top: 31px;
  left: 10px;
  display: none;
  box-sizing: border-box;
  width: 190px;
  padding: 20px;
  padding-right: 15px;
  background-color: $ColorPrimary;
  border: 1px solid $ColorBorderGrey;
  box-shadow: 0 0 9px 1px $ColorShadow;

  .opened & {
    display: block;
  }
}
