aside.mobile-nav#swup-mobile-nav
  div.container
    nav.menu-profile(class="menu-profile--mobile-nav")
      ul.menu-profile__list
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--menu" href="#" title="Открыть меню" data-no-swup)
            span.visually-hidden Открыть меню
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--search" href="#" title="Поиск" data-no-swup)
            span.visually-hidden Поиск
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--favorites" href="./favorites-mobile.html" title="Понравилось" data-counter="2")
            span.visually-hidden Понравилось
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--profile" href="./dashboard-mobile.html" title="Личный кабинет")
            span.visually-hidden Личный кабинет
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--orders" href="./orders-mobile.html" title="Заказы" data-counter="12")
            span.visually-hidden Заказы
        li.menu-profile__item
          a.menu-profile__link(class="menu-profile__link--cart" href="./cart-mobile.html" title="Корзина" data-counter="72")
            span.visually-hidden Корзина
