section.product(class="product--popup")
  div.product__inner
    div.product__top
      button.product__close(class="popup__close" type="button") Закрыть

      nav.product__nav
        ul.product__nav-list
          li.product__nav-item
            a.product__nav-link(class="product__nav-link--prev" href="#") Предыдущий товар
          li.product__nav-item
            a.product__nav-link(class="product__nav-link--next" href="#") Следующий товар

    div.product__main
      div.product__gallery
        div.product__gallery-inner(class="swiper-container")
          div.product__gallery-list(class="swiper-wrapper")
            div.product__gallery-image(class="swiper-slide")
              a(href="img/product_01-image-full-01.jpg" data-size="1500x999" data-no-swup)
                picture(itemscope itemtype="https://schema.org/ImageObject")
                  source(srcset="img/product_01-image-870-01.jpg" media="(min-width: 1500px)")
                  img(src="img/product_01-image-570-01.jpg" alt="Бифлекс матовый" title="Бифлекс матовый" width="570" height="570" loading="lazy" decoding="async" itemprop="contentUrl")
                  meta(itemprop="datePublished" content="2020-11-23")
                  meta(itemprop="author" content="FANNTEX — ткани для одежды оптом и в нарезку")
            div.product__gallery-image(class="swiper-slide")
              a(href="img/product_01-image-full-02.jpg" data-size="1500x999" data-no-swup)
                picture(itemscope itemtype="https://schema.org/ImageObject")
                  source(srcset="img/product_01-image-870-02.jpg" media="(min-width: 1500px)")
                  img(src="img/product_01-image-570-02.jpg" alt="Бифлекс матовый" title="Бифлекс матовый" width="570" height="570" loading="lazy" decoding="async" itemprop="contentUrl")
                  meta(itemprop="datePublished" content="2020-11-23")
                  meta(itemprop="author" content="FANNTEX — ткани для одежды оптом и в нарезку")
            div.product__gallery-image(class="swiper-slide")
              a(href="img/product_01-image-full-03.jpg" data-size="1500x999" data-no-swup)
                picture(itemscope itemtype="https://schema.org/ImageObject")
                  source(srcset="img/product_01-image-870-03.jpg" media="(min-width: 1500px)")
                  img(src="img/product_01-image-570-03.jpg" alt="Бифлекс матовый" title="Бифлекс матовый" width="570" height="570" loading="lazy" decoding="async" itemprop="contentUrl")
                  meta(itemprop="datePublished" content="2020-11-23")
                  meta(itemprop="author" content="FANNTEX — ткани для одежды оптом и в нарезку")
          div.product__gallery-thumbs
            button.product__gallery-thumb(class="active" type="button" title="Перейти к 1-му изображению")
              img(src="img/product_01-image-thumb-01.jpg" alt="Бифлекс матовый" width="70" height="70" loading="lazy" decoding="async")
            button.product__gallery-thumb(type="button" title="Перейти к 2-му изображению")
              img(src="img/product_01-image-thumb-02.jpg" alt="Бифлекс матовый" width="70" height="70" loading="lazy" decoding="async")
            button.product__gallery-thumb(type="button" title="Перейти к 3-му изображению")
              img(src="img/product_01-image-thumb-03.jpg" alt="Бифлекс матовый" width="70" height="70" loading="lazy" decoding="async")
        button.product__add-favorites(type="button" title="Добавить в избранное")
          span.visually-hidden Добавить в избранное

      div.product__content
        div.product__content-top
          p.product__id Артикул: <span>01.125.00-02</span>
          div.share
            div.share__dropdown
              button.share__toggle(type="button" title="Поделиться")
                span.visually-hidden Поделиться
              div.share__list(class="social social--share")
                ul.social__list
                  li.social__item
                    a.social__link(class="social__link--vk" href="javascript:void(0)" onclick="window.open('http://vk.com/share.php?url=https://fanttex.webcreator.top/product.html&title=Бифлекс матовый&description=link+from+fanttex.webcreator.top&noparse=true', '', 'scrollbars=1'); return false;" data-no-swup)
                      span Вконтакте
                  li.social__item
                    a.social__link(class="social__link--fb" href="javascript:void(0)" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://fanttex.webcreator.top/product.html&title=Бифлекс матовый&quote=link+from+fanttex.webcreator.top&description=link+from+fanttex.webcreator.top', '', 'scrollbars=1');return false;" data-no-swup)
                      span Facebook
                  li.social__item
                    a.social__link(class="social__link--tw" href="javascript:void(0)" onclick="window.open('http://twitter.com/share?text=https://fanttex.webcreator.top/product.html', '', 'scrollbars=1'); return false;" data-no-swup)
                      span Twitter
                  li.social__item
                    a.social__link(class="social__link--tg" href="javascript:void(0)" onClick="window.open('https://telegram.me/share/url?url=https://fanttex.webcreator.top/product.html','','scrollbars=1'); return false;" data-no-swup)
                      span Telegram
                  li.social__item
                    a.social__link(class="social__link--ok" href="javascript:void(0)" onclick="window.open('https://connect.ok.ru/offer?url=https://fanttex.webcreator.top/product.html', '', 'scrollbars=1'); return false;" data-no-swup)
                      span Одноклассники
                  li.social__item
                    a.social__link(class="social__link--mail" href="mailto:?subject=Поделиться ссылкой на страницу&amp;body=https://fanttex.webcreator.top/product.html" data-no-swup)
                      span Почта
                  li.social__item
                    a.social__link(class="social__link--link" href="#" data-clipboard="https://fanttex.webcreator.top/product.html" data-no-swup)
                      span Скопировать ссылку

        div.product__title
          h2.h2 Бифлекс матовый
          p.text-small Альтернативные названия ткани:
          p.product__title-alt Лайкра

        div.product__content-main
          div.product__add
            div.selection(class="selection--color selection--product")
              div.selection__dropdown
                div.selection__field
                  button.selection__toggle(class="selection__item" type="button")
                    span.selection__item-info
                      span.selection__item-color(style="color: #f1d6c7;")
                      span.selection__item-description
                        h3.selection__item-name Бежевый, Телесный
                        span.selection__item-availability В наличии
                div.selection__list
                  div.selection__search
                    input(type="search" placeholder="Поиск по цвету" aria-label="Поиск по цвету")
                  div.selection__list-inner
                    a.selection__item(href="#" data-no-swup)
                      span.selection__item-info
                        span.selection__item-color(style="color: #f1d6c7;")
                        span.selection__item-description
                          span.selection__item-name Бежевый, Телесный
                          span.selection__item-availability В наличии
                    a.selection__item(href="#" data-no-swup)
                      span.selection__item-info
                        span.selection__item-color(style="color: #000000;")
                        span.selection__item-description
                          span.selection__item-name Черный
                          span.selection__item-availability В наличии
                    a.selection__item(href="#" data-no-swup)
                      span.selection__item-info
                        span.selection__item-color(style="color: #ffffff;")
                        span.selection__item-description
                          span.selection__item-name Белый, Молочный
                          span.selection__item-availability(class="selection__item-availability--not-available") Закончился

            div.product__price(class="product__price--per-item")
              p.text-small Оптовая цена за метр:
              p.product__price-per-item <span class="price-per-item"><span class="price-integer">412</span><sup class="price-fraction">67</sup></span> руб./м <span class="price-discount-percent"></span>

            div.product-amount(class="minimum")
              div.product-amount__dropdown
                div.product-amount__field
                  input(type="text" name="amount" data-min="25" data-max="1000" data-unit="м" spellcheck="false" title="Количество ткани" aria-label="Количество ткани")
                  div.product-amount__control
                    button.product-amount__button-remove(type="button" title="Удалить из корзины")
                      span.visually-hidden Удалить из корзины
                    button.product-amount__button-decrease(type="button" title="Уменьшить количество")
                      span.visually-hidden Уменьшить количество
                    button.product-amount__button-increase(type="button" title="Увеличить количество")
                      span.visually-hidden Увеличить количество
                div.product-amount__list
                  button.product-amount__button-remove-cart(type="button") Удалить из корзины
                  div.product-amount__inner
                    p.product-amount__list-title
                      span Длина
                      span Цена за 1 м
                    div.product-amount__options
                      a.product-amount__option(href="#" data-no-swup)
                        span.product-amount__quantity 5 м
                        span.product-amount__price 433<sup>30</sup> руб.
                        span.product-amount__discount +5%
                      a.product-amount__option(href="#" data-no-swup)
                        span.product-amount__quantity 25 м
                        span.product-amount__price 412<sup>67</sup> руб.
                      a.product-amount__option(href="#" data-no-swup)
                        span.product-amount__quantity 100 м
                        span.product-amount__price 400<sup>30</sup> руб.
                        span.product-amount__discount -3%
                      a.product-amount__option(href="#" data-no-swup)
                        span.product-amount__quantity 300 м
                        span.product-amount__price 392<sup>04</sup> руб.
                        span.product-amount__discount -5%
                      a.product-amount__option(href="#" data-no-swup)
                        span.product-amount__quantity 500 м
                        span.product-amount__price 383<sup>79</sup> руб.
                        span.product-amount__discount -7%

            div.product__price(class="product__price--full")
              p.text-small Общая цена с учетом выбранной длины:
              p.product__price-full <span class="price-total"><span class="price-integer">10 316</span><sup class="price-fraction">75</sup></span> руб.
              p.text-small(class="product__price-profit") вместо <span class="price-no-discount"><span class="price-integer">10 832</span><sup class="price-fraction">50</sup></span> руб., экономия <span class="price-discount-value"><span class="price-integer">515</span><sup class="price-fraction">75</sup></span> руб.

            div.product__buttons
              button.button(class="button--final product__add-cart" type="button") В корзину
              a.button(class="button--selection product__link-cart popup__close" href=`./cart${page.type === 'mobile' ? '-mobile' : ''}.html`) Перейти в корзину

          div.product__info
            div.product__description
              p.text-small(class="slicing") Нарезка: <span class="item-value">Нет. Продажа от рулона (25 м)</span>
              p.text-small(class="quantity-in-item") В рулоне: <span class="item-value">25-30 м</span>
              p.text-small(class="width") Ширина: <span class="item-value">1,5 м</span>
              p.text-small(class="density") Плотность: <span class="item-value">250 гр/м2</span>
              p.text-small(class="composition") Состав: <span class="item-value">Нейлон — 80%, Лайкра — 20%</span>
              p.text-small(class="country") Страна производства: <span class="item-value">Китай</span>
              p.text-small(class="stock") Склад: <span class="item-value">Новосибирск, Москва</span>
              p.text-small(class="comment") Комментарий: <span class="item-value">В 1 кг ровно 20 м, но вы можете взять не 1 кг, а сколько угодно кг</span>

            ul.product__links
              li.product__link(class="product__link--download-photos")
                a(href="#" download data-no-swup) Сохранить фотографии ткани
              li.product__link(class="product__link--add-sample")
                a(href="#" data-no-swup) Заказать образцы ткани
              li.product__link(class="product__link--link-cart")
                a(class="popup__close" href=`./cart${page.type === 'mobile' ? '-mobile' : ''}.html` data-no-swup) Образцы ткани уже в корзине
              li.product__link(class="product__link--ask")
                a(href="./product.html#askQuestion") Задать вопрос о ткани
              li.product__link(class="product__link--sent-photos")
                a(href="#" data-no-swup) Прислать фотографии изделия
              li.product__link(class="product__link--other-variants" )
                a(href="#otherVariants" data-no-swup) Другие цвета и оттенки

      section.catalog#otherVariants(class="catalog--variants catalog--popup product__catalog")
        h2 Другие цвета и оттенки

        div.catalog__list
          - for (let i = 1; i <= 3; i++)
            +product-variant({counter: 1, isOutOfStock: true, isInPopup: true})

            +product-variant({counter: 2, name: 'Черный', isInPopup: true})

            +product-variant({counter: 3, name: 'Бежевый, Телесный', isInCart: true, isInPopup: true})

            +product-variant({counter: 1, isNew: true, discount: 36, isInPopup: true})

  div.product__bottom
    a.product__link-full(class="popup__close" href=`./product${page.type === 'mobile' ? '-mobile' : ''}.html`) Открыть полную страницу
