div.pswp(tabindex="-1" role="dialog" aria-hidden="true")
  div.pswp__bg
  div.pswp__scroll-wrap
    div.pswp__container
      div.pswp__item
      div.pswp__item
      div.pswp__item

    div.pswp__ui(class="pswp__ui--hidden")
      div.pswp__top-bar
        div.pswp__counter

        button.pswp__button(class="pswp__button--close" title="Закрыть (Esc)")
        button.pswp__button(class="pswp__button--share" title="Поделиться")
        button.pswp__button(class="pswp__button--fs" title="На полный экран")
        button.pswp__button(class="pswp__button--zoom" title="Увеличить/уменьшить")

        div.pswp__preloader
          div.pswp__preloader__icn
            div.pswp__preloader__cut
              div.pswp__preloader__donut

      div.pswp__share-modal(class="pswp__share-modal--hidden pswp__single-tap")
        div.pswp__share-tooltip

      button.pswp__button(class="pswp__button--arrow--left" title="Предыдущее изображение (стрелка влево)")
      button.pswp__button(class="pswp__button--arrow--right" title="Следующее изображение (стрелка вправо)")

      div.pswp__caption
        div.pswp__caption__center
