// Возвращает строку без пробелов
@function spaceless($string) {
  $spaceIndex: str-index($string, " ");

  @if $spaceIndex {
    @while $spaceIndex {
      $string: str-slice($string, 1, $spaceIndex - 1) + str-slice($string, $spaceIndex + 1);
      $spaceIndex: str-index($string, " ");
    }

    @return $string;
  }

  @return $string;
}

// Возвращает строку с заглавной первой буквой
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}
