$ColorPrimary: #ffffff;
$ColorSelected: #fff7e5;
$ColorInput: #f9f9f9;
$ColorBorder: #ffb400;
$ColorBorderGrey: #e7e7e7;
$ColorInputVerified: #f6fff4;
$ColorShadow: #e4e4e4;
$ColorShadowInset: #c08c10;
$ColorScrollbar: #c1c1c1;
$ColorRed: #ff0000;
$ColorButtonGreen: #378722;
$ColorButtonOrange: #ffa200;
$ColorButtonRed: #b82828;
$ColorButtonBanner: #1f222d;
$ColorProductStatusNew: #638bfe;
$ColorProductStatusSale: #a30202;

$widthMobile: 360px;
$widthTablet: 600px;
$widthDesktopSmall: 900px;
$widthDesktop: 1200px;
$widthDesktopWide: 1500px;
$widthFHD: 1920px;
$width2K: 2048px;
$width4K: 3840px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
