extends pug/layout

block variables
  -
    let page = {
      title: 'Костюмные ткани оптом - Fanttex',
      name: 'catalog',
      type: 'mobile'
    };

block content
  nav.breadcrumbs
    div.container
      ul.breadcrumbs__list(itemscope itemtype="http://schema.org/BreadcrumbList")
        li.breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          a.breadcrumbs__link(href="./catalog-mobile.html" itemprop="item") <span itemprop="name">Ткани оптом</span>
          meta(itemprop="position" content="1")

  section.catalog
    div.container
      h1 Костюмные ткани оптом

      nav.menu-catalog(class="swiper-container")
        ul.menu-catalog__list(class="swiper-wrapper")
          li.menu-catalog__item(class="swiper-slide")
            a.menu-catalog__link(href="./catalog-mobile.html") Костюмная клетка
          li.menu-catalog__item(class="swiper-slide")
            a.menu-catalog__link(href="./catalog-mobile.html") Костюмная шерсть
          li.menu-catalog__item(class="swiper-slide")
            a.menu-catalog__link(href="./catalog-mobile.html") Костюмная T/R

      block filters
        +filters('sorting')

      div.catalog__list
        +product-card({counter: 1, imagesQuantity: 2, variantsQuantity: 20, variantSelected: 13, isFavorite: true})

        +product-card({counter: 2, name: 'Костюмная T/R «Хлоя»', id: '01.209.000', price: '332.36', variantSelected: 6, isInCart: true, isNew: true})

        +product-card({counter: 3, name: 'Костюмная T/R', id: '01.209.000', price: '332.36', priceSale: '151.18', imagesQuantity: 4, unit: 'кг', variantSelected: 3, isInCart: true, isNew: true, discount: 36})

        +product-card({counter: 4, name: 'Пайетки на трикотаже, двусторонние, матовые', id: '01.209.000', price: '332.36', priceSale: '151.18', variantSelected: 9, discount: 36})

        +product-card({counter: 5, isOutOfStock: true})

        //- - for (let i = 6; i <= 30; i++)
        //-   +product-card({counter: i})

      div.catalog__banner(data-aos="fade-in")
        div.banner
          a(href="./catalog-mobile.html")
            div.banner__image(itemscope itemtype="https://schema.org/ImageObject")
              img.lozad(src="https://via.placeholder.com/330x100.jpg" srcset="img/placeholder-3x2.svg 330w" sizes="330px" data-srcset="https://via.placeholder.com/330x100.jpg 330w" alt="Произвольный баннер" width="330" height="100" loading="lazy" title="Произвольный баннер" decoding="async" itemprop="contentUrl")
              meta(itemprop="datePublished" content="2020-11-23")
              meta(itemprop="author" content="FANNTEX — ткани для одежды оптом и в нарезку")

      //- div.catalog__list
      //-   - for (let i = 31; i <= 60; i++)
      //-     +product-card({counter: i})

      div.catalog__banner(data-aos="fade-in")
        include pug/blocks/callback

      section.content(data-aos="fade-in")
        h2.visually-hidden Описание раздела
        p Мы осуществляем продажу оптом трикотажного полотна и тканей производства Турции, Кореи, Китая и Индонезии. Наш товар — это сочетание высоких потребительских характеристик и умеренной цены. Ткани, предлагаемые нами, произведены в соответствии с современными технологиями и отражают последние тенденции современной моды. В наличии всегда широкий ассортимент продукции. Продажа осуществляется со складов Новосибирска и Москвы.
        p Самые актуальные ткани для производства женской, спортивной и детской подростковой одежды. Мы осуществляем продажу оптом трикотажного полотна и тканей производства Турции, Кореи, Китая и Индонезии. Наш товар — это сочетание высоких потребительских характеристик и умеренной цены. Ткани, предлагаемые нами, произведены в соответствии с современными технологиями и отражают последние тенденции современной моды. В наличии всегда широкий ассортимент продукции. Продажа осуществляется со складов Новосибирска и Москвы.

      +pagination({pageActive: 2, isShown: true})
