extends pug/layout

block variables
  -
    let page = {
      title: 'Личный кабинет - Fanttex',
      name: 'dashboard',
      type: 'mobile'
    };
    let dashboard = 'favorites';

block content
  include pug/blocks/dashboard
