extends pug/layout

block variables
  -
    let page = {
      title: 'Личный кабинет - Fanttex',
      name: 'dashboard',
      type: 'desktop'
    };
    let dashboard = 'orders-canceled';

block content
  include pug/blocks/dashboard
