extends pug/layout

block variables
  -
    let page = {
      title: 'Карта сайта - Fanttex',
      name: 'sitemap',
      type: 'desktop'
    };

block header

block content
  div.container
    h1 Карта сайта Fanttex

    h2 Десктопная версия
    ul
      li
        a(href="./index.html") Главная страница
      li
        a(href="./catalog.html") Страница каталога
      li
        a(href="./catalog-2.html") Страница каталога 2
      li
        a(href="./product.html") Страница товара
      li
        a(href="./product-2.html") Страница товара 2
      li
        a(href="./search.html") Страница поиска
      li
        a(href="./about.html") Страница о компании
      li
        a(href="./blog.html") Страница блога
      li
        a(href="./blog-post.html") Страница записи блога
      li
        a(href="./cart.html") Страница корзины
      li
        a(href="./cart-success.html") Страница успешного завершения заказа
      li
        a(href="./dashboard.html") Страница личного кабинета
      li
        a(href="./orders.html") Страница всех заказов
      li
        a(href="./orders-history.html") Страница завершённых заказов
      li
        a(href="./orders-canceled.html") Страница отменённых заказов
      li
        a(href="./order-edit.html") Страница редактирования заказа
      li
        a(href="./order-cancel.html") Страница отмены заказа
      li
        a(href="./favorites.html") Страница избранного
      li
        a(href="./billing-profiles.html") Страница платёжных профилей
      li
        a(href="./profile.html") Страница профиля пользователя
      li
        a(href="./registration.html") Страница регистрации пользователя
      li
        a(href="./authorization.html") Страница авторизации пользователя
      li
        a(href="./forgot-password.html") Страница восстановления пароля

    h2 Мобильная версия
    ul
      li
        a(href="./index-mobile.html") Главная страница
      li
        a(href="./catalog-mobile.html") Страница каталога
      li
        a(href="./catalog-2-mobile.html") Страница каталога 2
      li
        a(href="./product-mobile.html") Страница товара
      li
        a(href="./product-2-mobile.html") Страница товара 2
      li
        a(href="./search-mobile.html") Страница поиска
      li
        a(href="./about-mobile.html") Страница о компании
      li
        a(href="./blog-mobile.html") Страница блога
      li
        a(href="./blog-post-mobile.html") Страница записи блога
      li
        a(href="./cart-mobile.html") Страница корзины
      li
        a(href="./cart-success-mobile.html") Страница успешного завершения заказа
      li
        a(href="./dashboard-mobile.html") Страница личного кабинета
      li
        a(href="./orders-mobile.html") Страница всех заказов
      li
        a(href="./orders-history-mobile.html") Страница завершённых заказов
      li
        a(href="./orders-canceled-mobile.html") Страница отменённых заказов
      li
        a(href="./order-edit-mobile.html") Страница редактирования заказа
      li
        a(href="./order-cancel-mobile.html") Страница отмены заказа
      li
        a(href="./favorites-mobile.html") Страница избранного
      li
        a(href="./billing-profiles-mobile.html") Страница платёжных профилей
      li
        a(href="./profile-mobile.html") Страница профиля пользователя
      li
        a(href="./registration-mobile.html") Страница регистрации пользователя
      li
        a(href="./authorization-mobile.html") Страница авторизации пользователя
      li
        a(href="./forgot-password-mobile.html") Страница восстановления пароля

block main-nav

block footer

block scripts
